  <div class="bg-main">
  <!--
          <div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
      </div>


<div class="jumbotron jumbotron-albums jumbotron-subscriptions">
<div class="jumbotron-bg lazy lazy-no-small" style="background: url(../i/home/noise.png),linear-gradient(50deg,#010609 0,#1967bf 100%);" data-original=""></div>
  <div class="container">
   <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div class="animated animatedFadeInUp">
                <h2>
                  <span class="text-white">
                      REGISTRO
                  </span>
                </h2>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte, con la esperanza de seguir moviendo a todos hacia nuestro mejor futuro. Podras cumplir cualquier cosa que hayas pensado alguna vez e incluso mejoraras tus actividades diarias.
            Gracias por confiar en nosotros y a continuacion te presentamos nuestra vision. 
                </p>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>

<div class="jumbotron">
    <div class="container altura bg-white">
      <div class="row">


<div style="max-width: 100%;
margin: 20px auto;
border: 1px solid #ddd;
box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.07);
background: #fff;
border-radius: 4px;">
        <div>
          <h3> REGISTRATE</h3>
          <p>Actualmente el sueño de asisitir a los juegos olimpicos esta en investigacion, introduce tus datos para ser uno de los <b>100 primeros</b> en probarlo.</p>
        </div>
        <div class="ui-153">



      <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="col-md-4">
            <!-- Item -->
            <div class="ui-item4">
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form class="black">
                           <p>Nombre:</p> <input type="text" name="nombre" placeholder="Ingresa Tu Nombre(s)"><br>
                        </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          </div>

          <div class="col-md-4">
            <!-- Item -->
            <div class="ui-item4">
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form class="black">
                           <p>Apellido paterno:</p> <input type="text" name="apellido_paterno" placeholder="Ingresa Apellido Paterno">
                        </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          </div>      

          
          <div class="col-md-4">
            <!-- Item -->
            <div class="ui-item4">
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form class="black">
                           <p>Apellido materno:</p> <input type="text" name="apellido_materno" placeholder="Ingresa Apellido Materno">
                        </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="col-md-6">
            <!-- Item -->
            <div class="ui-item4">
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form class="black">
                           <p>PICKER DE FECHA DE NACIMIENTO FALTANTE:</p> <input type="text" name="nombre" placeholder="Ingresa Tu Nombre(s)"><br>
                        </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          </div>

          <div class="col-md-6">
            <!-- Item -->
            <div class="ui-item4">
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form class="black">
                           <p>Telefono celular:</p> <input type="text" name="apellido_paterno" placeholder="Ingresa Tu Numero">
                        </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          </div>      

          
    </div>

        </div>
</div>
        <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>


      </div>
    </div>
</div>

